html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-color:#92ed99;
}


h1 {
  font-size: 60px;
  text-align: center;
  color: #126180;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}
h3{
  text-align: center;
}

p,h2 {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align:center;
}
img[src]{

  display:block;
  margin:0 auto;
  

}
body {
  width: 400px;
  height:600px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px blue;
}
label,input{
  display:block;
  margin:0 auto;
}
